.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.list svg {
  font-size: 1.8rem;
}

.list-item,
.list-item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.4rem;

  color: #555;

  transition: 150ms ease;

  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4) {
    display: none;
  }

  @media (min-width: 768px) {
    font-size: 1.4rem;

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      display: flex;
    }
  }
}

.list-item a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.country-flag {
  width: 30px;
}

.country {
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}
