.main-nav {
  border-bottom: 1px solid #e2e2e2;
  padding: 1.5rem 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    gap: 3rem;
  }
}

.logo {
  position: relative;
  font-size: 1.8rem;
  margin-right: 2rem;

  color: #333;

  a:hover {
    text-decoration: none;
  }

  @media (min-width: 768px) {
    font-size: 2.2rem;
    margin-right: 0;
  }
}

.search {
  display: none;
  flex: 1;
  max-width: 600px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.search input {
  padding: 1rem 2rem;
  border: 1px solid #c2c2c2;
  border-radius: 0.5rem 0 0 0.5rem;

  flex: 1;
  width: 100%;
}

.search input:focus {
  outline: none;
  border-color: #555;
}

.search button {
  font-weight: 700;

  width: 7rem;
  // border-radius: 0 999rem 999rem 0;
  border-radius: 0 0.5rem 0.5rem 0;

  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    font-size: 1.8rem;
    stroke-width: 4px;
    margin-right: 0.5rem;
  }
}

.nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.cart {
  position: relative;
}

.cart button {
  display: block;
  position: relative;
}

.cart button svg {
  font-size: 2.4rem;
  display: block;

  @media (min-width: 768px) {
    font-size: 3rem;
  }
}

.cart-count {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  left: 50%;
  top: -0.75rem;

  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(250, 230, 48);
  border: 2px solid;
}

.country-flag {
  width: 30px;
  display: none;

  @media (min-width: 768px) {
    display: block;
  }
}

.country-name {
  display: none;
  @media (min-width: 768px) {
    display: inline-block;
  }
}

.nav svg {
  font-size: 1.6rem;
}

.list-item,
.list-item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font-size: 1.4rem;

  color: #555;

  transition: 150ms ease;

  &:nth-of-type(2),
  &:nth-of-type(3) {
    display: none;
  }

  @media (min-width: 768px) {
    font-size: 1.4rem;

    &:nth-of-type(2),
    &:nth-of-type(3) {
      display: flex;
    }
  }
}
